@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6; 
  --foreground: #111827;
  --special-text: #002aff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937;
    --foreground: #f3f4f6; 
    --special-text: #72c2f4;
  }
}

.special-text {
  color: var(--special-text);
}
